body {
  background-image: url("dark wtr.jpg");
  color: #FAEBD7;
}

IMG.displayed {
            display: block;
            margin-left: auto;
            margin-right: auto;
}

h1 { 
  color: #CD5C5C; 
  text-align: center;
}
p {
  color: #FAEBD7;
  text-align: center;
  font-size: 16px;
}
img {
  text-align: center;
}
