
            body {
                 background-color: #BC8F8F;
                 }
#banner_all  {center:   margin-left: auto;
  margin-right: auto;;}

#nav-table { margin: 800px;}
#nav-td {width: 200px; text-align: center;}
