
            body {
                 background-color: #DEB887;
                 }
.type1 {
            width: 30%;
            display: block;
            margin: 0px auto;
}
.type2 {
            width: 30%;
            position: absolute;
            top: 50%;
            Left: 50%;
            transform: translate (-50%, -50%);
}
                        

h1 {
       text-align: center;
}

p {
       text-align: center;
}

h2 {
       text-align: center;
}

.image-container {
            width: 1600px;
            height: 200px;
            text-align: center;
}

