
            body {
                 background-color: #DEB887;
                 }                  
IMG.displayed {
            display: block;
            margin-left: auto;
            margin-right: auto;
}
table.center {
            margin-left: auto;
            margin-right:auto;
}

h1 {
       text-align: center;
}

p {
       text-align: center;
}

h2 {
       text-align: center;
}


