
            body {
                 background-color: #DEB887;
                 }
.type1 {
            width: 60%;
            display: block;
            margin: 0px auto;
}
.type2 {
            width: 60%;
            position: absolute;

}
                        

h1 {
       text-align: center;
}

p {
       text-align: center;
}

h2 {
       text-align: center;
}


